* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 64px;
  margin: 20px auto;
}
h2 {
  font-size: 36px;
  font-weight: 800;
  margin-left: 30px;
}
span {
  color: red;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin: auto 5px;
}
p {
  font-size: 24px;
  margin-right: 30px;
}

.cardContainer {
  border: 1px solid #d4d4d4;
  background: #a7a7a7;
  width: 960px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  width: 960px;
  height: 280px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  width: 200px;
  height: 75px;
  font-size: 36px;
}

#gameResult {
  font-size: 36px;
  position: absolute;
  top: 600px;
}
